.Chat {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
}

.HeaderWrapper {
  background-color: var(--bg-light);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.HeaderWrapper .Header {
  margin: 0 auto;
  padding-right: 60px;
}

.MessagesWrapper {
  background-color: var(--bg-dark);
  position: relative;
  z-index: 1;
}

.MessagesWrapper .MessagesList {
  min-height: calc(100vh - 60px); /* Screen height excluding header */
  margin: 60px auto 0;
  padding-bottom: 180px; /* Ensure that input will never overlap messages list */
}

.InputAreaWrapper {
  background-color: var(--bg-dark);
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
}

.InputAreaWrapper .InputArea {
  margin: 0 auto;
}

.SettingsButton {
  position: fixed;
  top: 8px;
  right: 10px;
  z-index: 5;
}

.SettingsSidebar {
  min-width: 300px;
  position: fixed;
  z-index: 4;
}

@media (min-width: 800px) {
  .Header,
  .MessagesList,
  .InputHint,
  .InputArea {
    max-width: 800px;
  }

  .SettingsButton {
    margin-right: calc((100vw - 800px) / 2);
  }

  .SettingsSidebar {
    min-width: calc(300px + (100vw - 800px) / 2);
  }
}

@media (min-width: 1250px) {
  .SettingsSidebar {
    min-width: calc((100vw - 800px) / 2);
  }
}

@media (max-width: 1250px) {
  .Chat .HeaderWrapper,
  .Chat .MessagesWrapper,
  .Chat .InputAreaWrapper {
    transition: filter 0.5s;
  }

  .ChatDarken .HeaderWrapper,
  .ChatDarken .MessagesWrapper,
  .ChatDarken .InputAreaWrapper {
    filter: brightness(50%);
  }
}
