.Header {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 60px;
  padding: 8px 0;
  box-sizing: border-box;
}

.UsersIcon {
  margin-left: 15px;
  flex-shrink: 0;
}

.UsersList {
  color: var(--text-darkest);
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  cursor: default;
}

.UsersCount {
  color: var(--text-darkest);
  padding-left: 10px;
  font-size: 1rem;
  margin-top: 2px;
}
