.SettingsOption {
  background-color: transparent;
  color: var(--text-dark);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  gap: 8px;
  cursor: pointer;
}

.SettingsOptionHidden {
  display: none;
}

.SettingsOptionWarning {
  color: var(--warning);
}

.SettingsOptionLabel {
  align-self: center;
}

.SettingsOption:hover {
  filter: brightness(90%);
}

.SettingsOption:active {
  filter: brightness(80%);
}
