.SettingsSidebar {
  height: 100vh;
  right: 0;
  background-color: var(--bg-dark);
  transition: transform 0.4s;
}

.SettingsSidebarVisible {
  transform: translateX(0);
}

.SettingsSidebarHidden {
  transform: translateX(100%);
}

.SettingsHeader {
  background-color: var(--bg-light);
  padding-left: 20px;
  padding-right: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.Settings {
  padding: 20px;
}

.Delimiter {
  height: 1px;
  background-color: var(--text-darkest);
  margin-bottom: 20px;
}
