.SettingsButton {
  background-color: var(--bg-light);
  padding: 10px;
  line-height: 0;
  border-radius: 100px;
  transition: filter 0.15s, background-color 0.15s;
}

.SettingsButton:hover {
  filter: brightness(90%);
}

.SettingsButtonActivated {
  background-color: var(--bg);
}
