.Popup {
  background-color: rgb(0 0 0 / 50%);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PopupHidden {
  display: none;
}

.PopupModal {
  background-color: var(--bg);
  border-radius: 20px;
  margin: auto;
  position: relative;
}

.PopupTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 14px 16px;
}

.PopupClose {
  background-color: transparent;
}

.PopupContent {
  padding: 10px;
}
